{% extends 'base.html' %}

<!-- -->

{% block content %}

<div class="container">
  <h1 class="title">{{ target_free.title}}</h1>

  <div class="infoBox">
    <span class="infoText">작성자</span>
    <span class="infoText">Master</span>
    <span class="infoText">작성일</span>
    <span class="infoText">{{ target_free.create_at}}</span>
  </div>

  <hr />

  <div class="contentBox">
    <p>{{ target_free.content}}</p>
    {% if target_free.image %}
    <img src="{{ target_free.image.url }}" />
    {% endif %}
  </div>

  <div class="createBox">
    <a href="{% url 'freeapp:list'%}">
      <button class="btn btn-outline-secondary">목록</button>
    </a>
    <a href="{% url 'freeapp:update' pk=target_free.pk %}">
      <button class="btn btn-outline-success createBtn">수정</button>
    </a>
    <a href="{% url 'freeapp:delete' pk=target_free.pk %}">
      <button class="btn btn-outline-danger">삭제</button>
    </a>
  </div>
</div>
{% endblock content %}
